<launch>
  <!-- change this next line to include the launch file for your robot's hardware drivers: -->
  <include file="$(find osmose_description)/launch/osmose_description.launch" />

  <param name="ticks_meter" value="70"/>

  <node pkg="osmose_description" type="pid_velocity.py" name="lpid_velocity">
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
      <remap from="wheel_vel" to="lwheel_vel"/>
      <param name="Kp" value="200"/>
      <param name="Ki" value="200"/>
      <param name="Kd" value="0"/>
      <param name="out_min"  value="-255"/>
      <param name="out_max"  value="255"/>
      <param name="rate"  value="30"/>
      <param name="timeout_ticks" value="4"/>
      <param name="rolling_pts"  value="5"/>
  </node>
  <node pkg="osmose_description" type="pid_velocity.py" name="rpid_velocity">
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
      <remap from="wheel_vel" to="rwheel_vel"/>
      <param name="Kp" value="200"/>
      <param name="Ki" value="200"/>
      <param name="Kd" value="0"/>
      <param name="out_min"  value="-255"/>
      <param name="out_max"  value="255"/>
      <param name="rate"  value="30"/>
      <param name="timeout_ticks" value="4"/>
      <param name="rolling_pts"  value="5"/>
  </node>

  <node pkg="osmose_description" type="virtual_joystick.py" name="virtual_joystick" output="screen"/>
  <node pkg="osmose_description" type="twist_to_motors.py" name="twist_to_motors" output="screen">
    <param name="base_width"  value="0.245"/>
  </node>

</launch>