<launch>
 
 <!-- Spawn a robot into Gazebo -->
    <!-- <param name="robot_description"
           command="$(find xacro)/xacro '$(find osmose_description)/urdf/base.urdf' > -->
<!--           
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-file $(find osmose_description)/urdf/base.urdf -urdf -z 1 -model osmose" />


  <include file="$(find osmose_gazebo_worlds)/launch/world_osmose.launch"/>

-->

  <!-- arg is used to set a value as we wish directly from terminal when we call a launch, if we don't input
  anything we have a value set by default in launch-->
  <arg name="model" default="$(find osmose_description)/urdf/base.urdf"/>
  <arg name="gui" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Node are a way to call scripts (python or cpp), if can be used-->

  <!-- Joint state publisher is used to compute the joints of the robot according to urdf
  robot_state_publisher is used to compute the static links of the robot according to urdf -->
  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- This is used to spawn a model in gazebo-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 4.0 -x 1 -y 1 -model osmose" respawn="false" output="screen" />


  <include file="$(find osmose_gazebo_worlds)/launch/world_osmose.launch"/>


    
</launch>
